{% extends "base.html" %}
{% block content %}
{% include event.eventDescriptionTemplate %}
<a href="invite"><button type="button" class="btn btn-default">Invite Friends</button></a>
<!-- TODO - include map to where the event is -->
{% for tool in tools %}
  {% include tool.tile_template %}
{% endfor %}

<form action= "{% url 'base:deleteEvent' %}" method= "POST">
{% csrf_token %}

<input type="hidden" name="eventid" value= "{{ event.eventid }}" id="eventid">
<input type= "submit" value="Delete Event" class="btn btn-success">
</form>

{% endblock %}
