{% extends "base.html" %}

{% block content %}
<script src="{{ STATIC_URL }}create_event.js"></script>
<h1>New Event</h1>
<form action="{{ current_path }}" method="post" id="mainForm">
<body>
  <p>Event Name: <input name="eventName" type="text" maxlength="50" size="52" id="eventName"/> </p>
  <p>Event Location: <input name="eventLocation" type="text" maxlength="50" size="52"/> </p>
  <p>Event Date: <input name="eventDateStart" type="DateTime" id="eventDateStart"/> </p>
  <p>Event Description:</p> <textarea rows"10" columns="55" maxlength="500" name="eventDescription" type="textarea" id="eventDescription"style ="height:200px;width:500px"> </textarea></p>
  <p>Event Type:</p>
  <input name="eventType" type="radio" value="dinner" onclick="dinner();" id="eventType"/>Dinner </p>
  <input name="eventType" type="radio" value="hike" onclick="hike();" id="eventType"/>Hike </p>
  <input name="eventType" type="radio" value="otherTrip" onclick="otherTrip();" id="eventType"/>Other Trip </p>
  <input name="eventType" type="radio" value="otherGathering" onclick="otherGathering();" id="eventType"/>Other Gathering </p>
</form>

<form action="{{ current_path }}" method="post" id="hikeForm">
	
	<p><label for="eventDateEnd" id="eventDateEndLabel" style="display:none">Event End Date:</label>
	<input name="eventDateEnd" type="DateTime" id="eventDateEnd" style="display:none"/> </p>

	<p><label for="duration" id="durationLabel" style="display:none">Duration:</label>
	<input name="Duration" type="DateTime" id="duration" style="display:none"/></p>
	
	<p><label for="elevation" id="elevationLabel" style="display:none">Elevation:</label>
	<input name="Elevation" type="text" id="elevation" style="display:none"/></p>
	
	<p><label for="distance" id="distanceLabel" style="display:none">Distance:</label>
	<input name="Distance" type="text" id="distance" style="display:none"/></p>

	<p><label for="difficulty" id="difficultyLabel" style="display:none">Difficulty:</label>  
	<select name="Difficulty" id="difficulty" style="display:none">
        <option value="unknown">Unknown</option>
        <option value="easy">Easy</option>
        <option value="moderate">Moderate</option>
        <option value="difficult">Difficult</option>
        <option value="strenuous">Strenuous</option>
        <option value="technical">Technical</option>
        </select></p>

</form>

<form action="{{ current_path }}" method="post" id="accommodationsForm">
	
	<p><label id="accommodationsLabel" style="display:none">Dietary Accommodations:</label> </p>
	
	<p><label id="vegan" style="display:none"><input type="checkbox" value="vegan"/>Vegan</label> </p>
	
	<p><label id="vegetarian" style="display:none"><input type="checkbox" value="vegetarian"/>Vegetarian</label> </p>

	<p><label id="allergies" style="display:none"><input type="checkbox" onclick="if(this.checked){allergies();}" value="allergies"/>Allergies</label> </p>

	<p><label for="allergyList" id="allergyListLabel" style="display:none">Allergies:</label>
	<p><input name="allergyList" type="text" id="allergyList" style="display:none"/></p>

</form>

<!-- TODO <a href=""><button type="button" onclick="">Next</button></a>-->
</body>
</html>
{% endblock %}

