{% extends "base.html" %}
{% block content %}

<div class="page-header">
	<font size="6">Edit event</font>
</div>

<div class="panel panel-default">
<div class="panel-body">
<p><a href="{{menu.server}}/{{event.eventid}}"><button type="button" class="btn btn-default">Go Back</button></a></p>

	<form enctype="multipart/form-data" action= "" method= "POST">
	{% csrf_token %}
	{{ editeventform.as_p }}
	{{ subform.as_p }}

	<input type= "submit" value="Edit event" class="btn btn-default">	
	</form>




<p></p>
{% if creator %}
<a href="editMembers"><button type="button" class="btn btn-default">Edit Members</button></a>
{% endif %}


{% if creator %}
<a href="{{menu.server}}/{{event.eventid}}/
deleteEvent"><button type="button" class="btn btn-danger">Delete Event</button></a>
{% endif %}


</div></div>
{% endblock %}
