{% extends "base.html" %}
{% block content %}
<div class="panel panel-default">
	<div class="panel-heading">
			<h3 class="panel-title">Description</h3>
		</div>
	{% include event.eventDescriptionTemplate %}
</div>

<a href="editEvent"><button type="button" name="editButton" id="editButton" class="btn btn-default" onclick="">Edit</button></a>
<a href="invite"><button type="button" class="btn btn-default">Invite Friends</button></a>
<br>
<br>
<div class="panel panel-default">
	<div class="panel-heading">
			<h3 class="panel-title">Members</h3>
		</div>
	<div class="panel-body">

	<div class="container">
	<div class="table-responsive">
	<table class="table">
		<thead><tr><td>#</td><td>Name</td><td>Status</td></thead>
		<tbody>
		{% for member in members %}
		<tr>
		<td>{{ forloop.counter }}</td>
		<td>{{ member.user.first_name }} {{ member.user.last_name }}</td>
		<td>{{member.get_status_display}}</td>
		</tr>
		{% endfor %}
		</tbody>
	</table>
	</div></div>
</div>
</div>
<!-- TODO - include map to where the event is -->
<br />
{% for tool in tools %}
<br />
<div class="panel panel-default">
	{% include tool.tile_template %}
</div>
{% endfor %}

<!-- TODO: Move this into the edit event page.-->
<form action= "{% url 'base:deleteEvent' %}" method= "POST">
{% csrf_token %}
<!--This hidden field might not be a good idea.-->
<input type="hidden" name="eventid" value= "{{ event.eventid }}" id="eventid">
<input type= "submit" value="Delete Event" class="btn btn-danger">
</form>

{% endblock %}
