{% extends "events/base_event_home.html" %}
{% block top %}
<a href="editEvent"><button type="button" name="editButton" id="editButton" class="btn btn-default" onclick="">Edit</button></a>
<a href="invite"><button type="button" class="btn btn-default">Invite Friends</button></a>
<br>
<br>
{% endblock %}

{% block middle %}
<a href="editMembers"><button type="button" class="btn btn-default">Edit Members</button></a>
<!-- TODO - include map to where the event is -->
<br />

<!-- TODO: Move this into the edit event page.-->
<a href="delete"><button type="button" class="btn btn-danger">Delete Event</button></a>

{% endblock %}
