
{% extends "events/base_description.html" %}

{% if event.event_End_Date %}
{% block end_date %}<p><b>End Date:</b>  {{ event.event_End_Date }}</p>{% endblock %}
{% endif %}

{% block extra_info %}

{% if event.elevation %}
<p><b>Elevation Change:</b>  {{ event.elevation }}<p>
{% endif %}

{% if event.difficulty %}
<p><b>Difficulty:</b>  {{ event.get_difficulty_display }}<p>
{% endif %}

{% if event.distance %}
<p><b>Distance:</b>  {{ event.distance }}</p>
{% endif %}

{% if event.duration %}
<p><b>Duration:</b>  {{ event.duration }}</p>
{% endif %}
{% endblock %}

