
{% extends "events/base_description.html" %}

{% if event.eventDateEnd %}
{% block end_date %}<p><b>End Date:</b>  {{ event.eventDateEnd }}</p>{% endblock %}
{% endif %}

{% block extra_info %}

{% if event.eventElevation %}
<p><b>Elevation Change:</b>  {{ event.eventElevation }}<p>
{% endif %}

<p><b>Difficulty:</b>  {{ event.eventDifficulty }}<p>

{% if event.eventDistance %}
<p><b>Distance:</b>  {{ event.eventDistance }}</p>
{% endif %}

{% if event.eventDuration %}
<p><b>Duration:</b>  {{ event.eventDuration }}</p>
{% endif %}
{% endblock %}

