{% extends "base.html" %}
{% block content %}
<div class="panel panel-default">
	<div class="panel-heading">
			<h3 class="panel-title">Description</h3>
		</div>
	{% include event.eventDescriptionTemplate %}
</div>

<div class="panel panel-default">
	<div class="panel-heading">
			<h3 class="panel-title">Members</h3>
		</div>
	<br>
	{% for member in members %}
	<b>Name:</b> {{ member.user.first_name }} {{ member.user.last_name }}
	<b>Status:</b> {{member.get_status_display}} <br>
	{% endfor %} <br>
</div>

<!--<a href="invite"><button type="button" class="btn btn-default">Invite Friends</button></a>-->
<br>
{% for tool in tools %}
  {% include tool.tile_template %}
{% endfor %}

<form action= "{% url 'base:deleteEvent' %}" method= "POST">
{% csrf_token %}

<input type="hidden" name="eventid" value= "{{ event.eventid }}" id="eventid">
<input type= "submit" value="Delete Event" class="btn btn-danger">
</form>

{% endblock %}
