{% extends "base.html" %}
{% block content %}
<div class="page-header">
	<font size="6">Past Events</font>
</div>
{% for e in menu.prev_events %}
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">{{ e.eventName }}</h3>
		</div>
		<div class="panel-body">
			<p>Date: {{ e.eventDateStart }}</p>
			<p>Location: {{e.eventLocation }}</p>
			<a href="{{ menu.server }}/{{ e.eventid }}" role="button"><button class="btn btn-default">Go to Event Page</button></a>
		</div>
	</div>
{% endfor %}
{% endblock %}
