{% extends "base.html" %}
{% block content %}
{% include event.eventDescriptionTemplate %}
<br>
<b>Members</b><br>
{% for member in members %}
{{ member.user.first_name }} {{ member.user.last_name }} Status: {{member.get_status_display}} <br>
{% endfor %}
<!--<a href="invite"><button type="button" class="btn btn-default">Invite Friends</button></a>-->
<br>
{% for tool in tools %}
  {% include tool.tile_template %}
{% endfor %}

<form action= "{% url 'base:deleteEvent' %}" method= "POST">
{% csrf_token %}

<input type="hidden" name="eventid" value= "{{ event.eventid }}" id="eventid">
<input type= "submit" value="Delete Event" class="btn btn-success">
</form>

{% endblock %}
