<!DOCTYPE html>
{% block menubar %}
<head>
	<title>{{ title }} </title>
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}bootstrap-3.3.2-dist/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}base_css.css">
</head>

<body>
{% load static %}
<nav class="navbar navbar-default" style="margin:0px;padding:5px;"><center>
<div class="container-fluid">
<div class="navbar-header">
<ul class="nav navbar-nav">
<!-- Logo on menubar-->
<li><img src="{% static 'logo-med-lilac.png' %}" alt="PLANtastic Logo"></li>
<!-- Home button on menubar-->
<li><a href="{{ menu.server }}/home">Home <span class="glyphicon glyphicon-home"></span></a></li>
<!--Dropdown for Upcoming events -->
<li class="dropdown">
	<a href="{{menu.server}}/upcoming" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Upcoming <span class="glyphicon glyphicon-pushpin"></span><span class="carat"></span></a>
	<ul class="dropdown-menu" role="menu">
		<li><a href="{{ menu.server }}/upcoming">Upcoming</a></li>
		{% for event in menu.upcoming_events %}
			<li><a href ="{{ menu.server}}/{{ event.eventid }}">{{ event.name }}</a></li>
		{% endfor %}
	</ul>
</li>
<!--Dropdown for Past events -->
<li class="dropdown">
	<a href="{{menu.server}}/past" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Past <span class="glyphicon glyphicon-pushpin"></span><span class="carat"></span></a>
	<ul class="dropdown-menu" role="menu">
		<li><a href="{{ menu.server }}/past">Past</a></li>
		{% for event in menu.prev_events %}
			<li><a href = "{{ menu.server }}/{{ event.eventid }}">{{ event.name }}</a></li>
		{% endfor %}
	</ul>
</li>
<!-- Dropdown for new event -->
<li>
	<a href="{{menu.server}}/new">New Event <span class="glyphicon glyphicon-plus-sign"></span><span class="carat"></span></a>
</li>	
<!-- Join button on menubar-->
<li><a href="{{ menu.server }}/join">Join Event <span class="glyphicon glyphicon-plus-sign"></span><span class="carat"></span></a></li>
<!-- Notification button on menubar-->
<li><a href="{{ menu.server }}/notifications">Notifications {%if menu.new_notifications%}<span class="badge">{{ menu.new_notifications }}</span>{%endif%}</a></li>
<!--Dropdown for the user's profile. Also contains the logout button -->
<li class="dropdown">
<a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false" href="#">{{ user.first_name }} {{user.last_name}} <span class="glyphicon glyphicon-user"></span><span class="carat"></span></a>
	<ul class="dropdown-menu" role="menu">
	<li><a role="menuitem" href="{{ menu.server }}/profile">{{ user.first_name }} {{user.last_name}}'s profile <span class="glyphicon glyphicon-user"></span></a></li>
	<li><a role="menuitem" href="{{ menu.server }}/profile/manageAccount">Manage Account <span class="glyphicon glyphicon-cog"></span></a></li>
	<li><a role="menuitem" href="{{ menu.server }}/friends/list">Friends <span class="glyphicon glyphicon-heart-empty"></span></a></li>
	<li><a role="menuitem" href="{{menu.server}}/logout">Log out</a></li>
	</ul>
</div></li>
<!-- end of the menubar list-->
</ul>

</div>
</div>
</nav>
<!--These scripts make the dropdowns work... or they're supposed to.-->
<script src="https://code.jquery.com/jquery.js"></script>
<script type"text/javascript" src="{{STATIC_URL}}bootstrap-3.3.2-dist/js/bootstrap.js"></script>
<script>
	$(document).ready(function(){
		$('.dropdown-toggle').dropdown()
	});
</script>

{% endblock %}

<div class="container-fluid">

<div class="row">
<div class="col-sm-1">
</div>
<div class="col-sm-10">
{% block content %}

Welcome to the PLANtastic website!
{% endblock %}
</div>
<div class="col-sm-1"></div>
</div></div>

</body>
