<!DOCTYPE html>
{% block menubar %}
<head>
	<title>{{ title }} </title>
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}bootstrap-3.3.2-dist/css/bootstrap.css">
</head>

<body>
<div class="menu-bar">
<ul>
<li><a href="{{ menu.server }}/home">Home</a></li>
<li>
<ul>
	<li><a href="{{ menu.server }}/upcoming">Upcoming</a></li>
	{% for event in menu.prev_events %}
		<li><a href ="{{ menu.server}}/{{ event.eventid }}">{{ event.eventName }}</a></li>
	{% endfor %}
</ul></li>
<li><ul>
	<li><a href="{{ menu.server }}/past">Past</a></li>
	{% for event in menu.upcoming_events %}
		<li><a href = "{{ menu.server }}/{{ event.eventid }}">{{ event.eventName }}</a></li>
	{% endfor %}
</ul></li>
<li><ul>
	<li><a href="{{ menu.server }}/new">New Event</a></li>
	{% for event in menu.event_types %}
		<li><a href="{{ menu.server }}/new?type={{ event }}" >{{ event }}</a></li>
	{% endfor %}
</ul></li>
<li><ul>
	<li><a href="{{ menu.server }}/profile">{{ menu.user.username }}'s profile</a></li>
	<li><a href="{{ menu.server }}/manage_account">Manage Account</a></li>
	<li><a href="{{ menu.server }}/logout">Log Out</a></li>
</ul></li>
</ul>

</div>

{% endblock %}

{% block content %}
Welcome to the PLANtastic website!
{% endblock %}

</body>
