{% extends "base.html" %}

{% block content %}
{% load static %}
<div class="page-header">
<h2>Welcome {{ user.first_name }}!</h2>
</div>
<br>
<p>This is your Home Page. </p>
<div id="events-table">
<table>
<tr>
{% for e in menu.upcoming_events %}
	{% if forloop.counter=1 %}
	<td><p>You are currently in {{menu.upcoming_events.count()}} events!</p></td>
</tr><tr>
	{% endif %}
	<td>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">{{e.name}}</h3>
			</div>
			<div class="panel-body">
				<p><b>Start Date:</b> {{e.event_Start_Date}}</p>
				<p><b>Description:</b> {{e.event_Description}}</p>
			</div>
			<div class="panel-footer">
				<center><a href="/{{e.eventid}}"><button class="btn btn-default">Go to event</button></a></center>
			</div>
		</div>
	</td>
{% if forloop.counter|divisibleby:"2" %}
</tr>
<tr>
{% endif %}
{% endfor %}
</tr>
<tr>
{% for f in menu.prev_events %}
	<td>                                                                                                                          
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">{{f.name}}</h3>
			</div>
			<div class="panel-body">
				<p><strong>Start Date:</strong> {{f.event_Start_Date}}</p>
				<p><strong>Description:</strong> {{f.event_Description}}</p>
			</div>
			<div class="panel-footer">
					<center><a href="/{{f.eventid}}"><button class="btn btn-default">Go to Event</button></a></center>
			</div>
		</div>
	</td>
{% if forloop.counter|divisibleby:"2" %}
</tr>
<tr>
{%endif%}
{% endfor %}

</tr>
</table>
{% endblock %}
