
<head>
	<title>{{title}}</title>
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}bootstrap-3.3.2-dist/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}index_css.css">
</head>


{% load static %}
<!--This is the index page.  Remember to add unique subdirectories in your templates folder! -->
<br><br><br>
<!-- Jumbo-sized welcome -->
<div class="transpjumbo">
	<center><h1>Welcome to <img src="{% static 'logobig.png' %}" alt="PLANtastic Logo"></h1></center>
	<br>
	<div class="col-sm-2">
	</div>
	<div class="col-sm-5">
	<a href="{% url 'base:login' %}"><button type="button" class="btn btn-default">Click here to log in</button></a>
	</div>
	<div class="col-sm-5">
	<a href="{% url 'base:register' %}"><button type="button" class="btn btn-default">Click here to register for a new account</button></a>
	</div>
	<br><br><br>

</div>
</div>
<script type="text/javascript" src="{% static 'index_scripts.js' %}"></script>

