{% extends "base.html" %}
{% include "forms.py" %}

{% block content %}
	<h2>Invite your friends to join your event!</h2>
	<p>Enter email addresses of your friends below to invite them.</p>
	
	{% if form.error %}
	<div class="alert alert-danger" role="alert">Sorry, that's not a valid email.</div>
	{% endif %}

	
	<form action="invite-action/" method="post">
		<input type="text" class="form-control" placeholder="Invitee's email"  />
		<input type="submit" class="btn btn-default" value="Send Invite" />
	</form>


{% endblock %}
