{% extends "base.html" %}

{% block menubar %}
<head>
	<title>{{title}}</title>
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}bootstrap-3.3.2-dist/css/bootstrap.css">
</head>
<!-- Empty menu bar for prettiness reasons -->
<nav class="navbar navbar-default">
<div class="container-fluid">
<div class="navbar-header">
<div class="nav navbar-nav">
<!-- Empty on purpose. Could add a logo later. -->
{% load static %}
<img src="{% static 'logosmall.png' %}" alt="PLANtastic Logo">
</div>
</div>
</div>
</nav>
{% endblock %}


{% block content %}
<p>You must be logged in to see this page. Please log in below or register for a new account.</p>

<form action= "{% url 'base:authView' %}" method= "POST">
{% csrf_token %}

<label for ="username"> Username: </label><input type="text" name="username" value="" id="username">
<label for ="password"> Password: </label><input type="password" name="password" value="" id="password">

<input type= "submit" value="Log in" class="btn btn-success">
</form>
<br>

<a href="{% url 'base:register' %}"><button type="button" class="btn btn-success">Click here to register for a new account</button></a>

<a href = "{% url 'base:index' %}"><button type="button" class="btn btn-success">Go back to index page</button></a>

{% endblock %}
