{% extends "base.html" %}

{% block content %}
<div class="page-header">
	<font size="6">Manage Account</font> <a href="{% url 'profile:profile' %}"><span style="font-size:1.5em" class="glyphicon glyphicon-user"></span></a></div>

<div class="panel panel-default">
<div class="panel-heading">
			<h3 class="panel-title">Edit Information</h3>
		</div>
<div class="panel-body">
	<form action= "{% url 'profile:editInformation' %}" method= "POST">
	{% csrf_token %}

	{{ userform.as_p }}
	{{ profileform.as_p }}


	<input type= "submit" value="Edit information" class="btn btn-success">
	</form><br>
</div>
</div>

<div class="panel panel-default">
<div class="panel-heading">
			<h3 class="panel-title">Change Password</h3>
		</div>
<div class="panel-body">
	<form action= "{% url 'profile:checkInformation' %}" method= "POST">
	{% csrf_token %}

	<label for ="oldpassword"> Old password:  </label><input type="password" name="oldpassword" value="" id="oldpassword"> <br>
	<label for ="newpassword1"> New password:  </label><input type="password" name="newpassword1" value="" id="newpassword1"><abbr title="Must be a valid password"><span class="glyphicon glyphicon-question-sign"></span></abbr>
	<br>
	<label for ="newpassword2"> New password verification:  </label><input type="password" name="newpassword2" value="" id="newpassword2"><a href="" title="Must be the same password as above"><span class="glyphicon glyphicon-question-sign"></span></a><br>
	<br>
	<input type= "submit" value="Change Password" class="btn btn-success">
	</form></div>
</div>
<br>
<a href = "{% url 'profile:deleteAccount' %}"><button class="btn btn-danger">Delete Account</button></a>


{% endblock %}
