{% extends "base.html" %}

{% block content %}
<div class="page-header">
	<font size="6">{{ fullname }}</font>
  	<a href="{% url 'profile:manageAccount' %}"><span style="font-size:1.7em" class="glyphicon glyphicon-cog"></span></a>
</div>

<div class="panel panel-default">
<div class="panel-heading">
<h3 class="panel-title">Information</h3>
</div>
<div class="panel-body"> <font size="3">
	<b>Username:</b> {{ username }}
	<br><b>Email:</b> {{ email }}
	{% if birthday %}
	<br><b>Birthday:</b> {{ birthday }}
	{% endif %}
	{% if gender %}
	<br><b>Gender:</b> {{ gender }}
	{% endif %}
	<br><b>Member since:</b> {{ membership }}
	{% if description %}
	<br><b>Description:</b>
	<br>{{ description }}
	{% endif %}</font>
</div></div>



{% endblock %}
