{% extends "base.html" %}
{% block content %}

<div class="page-header">
	<font size="6">Record Payment</font>
</div>

<form action="" method="post">
{% csrf_token %}

<p><b>Payer:</b> 
<select name="payer" id="payer">
	<option value="">----------</option>
	{% for member in members %}
        <option value="{{member.user}}">{{member.user}}</option>
        {% endfor %}
        </select></p>
<p><b>Reciever:</b> 
<select name="receiver" id="receiver">
	<option value="">----------</option>
	{% for member in members %}
        <option value="{{member.user}}">{{member.user}}</option>
        {% endfor %}
        </select></p>
<p><b>Amount:</b><input name="amount" type="number" id="amount"/></p>
<input type="submit" class="btn btn-default" value="Record Payment" />
</form>
<a href="../"><button type="button" class="btn btn-default">Go Back</button></a>

{% endblock %}
