{% extends "base.html" %}

{% block content %}
<h3>{{thread.title}}</h3>

{% for post in posts %}
	<div class = "panel panel-default">
		<div class = "panel-heading">
			{{PostModel.get_post_description(post)}}
		</div>
		<div class="panel-body">
			{{post.body}}
		</div>
	</div>
{% endfor %}
<div class="panel panel-default">
	<div class="panel-heading">
		<h4>Reply to Thread</h4>
	</div>
	<div class="panel-body">
		<form action="reply-thread/" method="post">
			{% csrf_token %}
			<input type="text" class="form-control" placeholder="Enter text here" id="" name="pbody" />
			<input type="submit" class="btn btn-default" value="Post Reply" />
		</form>
	</div>
</div>
{% endblock %}
