<html>
<h1>New Event</h1>
<form action="{{ current_path }}" method="post">
<body>
  <p>Event Name: <input name="eventName" type="text" maxlength="50" size="52"/> </p>
  <p>Event Location: <input name="eventLocation" type="text" maxlength="50" size="52"/> </p>
  <p>Event Date: <input name="eventDateStart" type="DateTime"/> </p>
  <p>Event Description:</p> <textarea rows"10" columns="55" maxlength="500" name="eventDescription" type="textarea" style ="height:200px;width:500px"> </textarea></p>
  <p>Event Type:</p>
   
  <input name="eventType" type="radio" value="dinner"/>Dinner </p>
  <input name="eventType" type="radio" value="hike"/>Hike </p>
  <input name="eventType" type="radio" value="otherTrip"/>Other Trip </p>
  <input name="eventType" type="radio" value="otherGathering"/>Other Gathering </p>
  var type = document.getElementById("eventType");

</body>


<form action="{{ current_path }}" method="post">
<body>
  if (type="hike"){
    <p>Event End Date: <input name="eventDateStart" type="DateTime"/> </p>
    <p>Elevation: <input name="Elevation" type="text"/></p>
    <p>Difficulty:<select name="Difficulty">
        <option value="unknown">Unknown</option>
        <option value="easy">Easy</option>
        <option value="moderate">Moderate</option>
        <option value="difficult">Difficult</option>
        <option value="strenuous">Strenuous</option>
        <option value="technical">Technical</option>
        </select></p>
   }
  

 <button type="button" onclick="">Next</button>
</body>
</html>
</html>
  


