{% extends "base.html" %}
{% block content %}

<div class="page-header">
	<font size="6">Add Vehicle</font>
</div>

<div class="panel-default panel">
<div class="panel-body">
<form action="" method="post">
{% csrf_token %}
<p><b>Driver:  </b>{{user}}</p>
{{ carform.as_p }}
<p>*Seats indicates the number of seats in the vehicle available to passengers</p>
<input type="submit" class="btn btn-success" value="Add Vehicle" />

<a href="../"><button type="button" class="btn btn-default">Go Back</button></a>
</form>
</div>
</div>
{% endblock %}
