{% extends "base.html" %}
{% block content %}

<div class="page-header">
	<font size="6">Car Details</font>
</div>

<p><a href=".."><button type="button" class="btn btn-default">Go Back</button></a>

{% if car.open_seats > 0 %}
<a href="signup"><button type="button" class="btn btn-default">Join Car</button></a>
 {% endif %}
</p>

<table class="table">
<tr><td><b> Driver: </b> </td> <td> {{ car.driver.personid }}</td></tr>

<tr><td><b> Seats: </b></td> <td> {{ car.seats }} </td></tr>
<tr><td><b> Available Seats:  </b></td> <td> {{ car.open_seats }} </td></tr>
<tr><td><b> Passengers: </b></td> 
{% for person in passengers.all %}
	
	<td>{{ person.personid }}</td>
	{% if admin %}
		<td><p><a href="{% url 'events:tools:rideshare:kickPassenger' eventid=eventid carid=car.carid pk=person.personid %}">
Remove Passenger</a></p></td>
		
	{% endif %}
	</tr><tr>
	<td></td>

{% endfor %}
</tr>
</table>
{% if admin %}
	<p><a href="deleteCar"><button type="button" class="btn btn-danger">Remove Car</button></a></p>
{% endif %}
{% endblock %}

