{% extends "base.html" %}
{% block content %}

<div class="page-header">
	<font size="6">Car Details</font>
</div>
<div class="panel-default panel">
<div class="panel-body">

<p><a href=".."><button type="button" class="btn btn-default">Go Back</button></a>

{% if car.open_seats > 0 %}
{% if isNotInACar %}
<a href="signup"><button type="button" class="btn btn-default">Join Car</button></a>
 {% endif %}
 {% endif %}
{% if isInThisCar %}
<a href="leaveCar"><button type="button" class="btn btn-danger">Leave This Car</button></a>
 {% endif %}
</p>

<table class="table">
<tr><td><b> Driver: </b> </td> 
<td><b> Seats: </b></td> 
<td><b> Available Seats:  </b></td> 
<td><b> Passengers: </b></td></tr>
 <tbody>
<tr><td> {{ car.driver.personid }}</td><td> {{ car.seats }} </td><td> {{ car.open_seats }} </td>
{% if passengers.count == 0 %}
<td></td></tr>
{% endif %}
{% for person in passengers.all %}
	<form action="{% url 'events:tools:rideshare:kickPassenger' eventid=eventid carid=car.carid %}" method="post" >
	<td>{{ person.personid }}</n>
	{% if admin %}
		{% csrf_token %}
		<p>{{person.address}}</p></td>
		<input type="hidden" name="personid" id="personid" value = "{{person.personid}}">
		<td><p><input type="submit" class="btn btn-danger" value="Remove Passenger"/></p></td>
		</form>
	{% endif %}
	</tr><tr>
	<td></td><td></td><td></td>

{% endfor %}
</tr>
</tbody>
</table>
{% if admin %}
	<p><a href="deleteCar"><button type="button" class="btn btn-danger">Remove Car</button></a></p>
{% endif %}
</div>
</div>
{% endblock %}
