{% extends "base.html" %}
{% block content %}

<div class="page-header">
	<font size="6">Ride Share</font>
</div>

<!--<script src="{{ STATIC_URL }}item_share/item_share.js"></script>-->
<p><a href="signup"><button type="button" class="btn btn-default">Sign Up</button></a>
<a href="add_car"><button type="button" class="btn btn-default">Add Vehicle</button></a>
<a href="{{menu.server}}/{{event.eventid}}"><button type="button" class="btn btn-default">Go Back</button></a></p>
<table class="table"> 

<tr class="table-header">
<td> </td>
<td>  Driver  </td> 
<td>  Seats  </td>
<td>  Available Seats  </td>
<td>  Seats Taken  </td>
</tr>
{% for car in cars %}
	<tr>
	{% if car.signups.count >= 0 %}<td class="plus">+{% else %}<td> {% endif %}</td>
	<td>{{ car.driver }}</td>
	<td>{{ car.seats }}</td><td>{{ car.available }}</td><td id="signup_{{ car.id }}">{{ car.signedup }}</td>

	<form action = "{{ cur_path }}" method="post">
		<td><input type="number" name="seats" min=0 value="{% if not car.your_signup %}0{% else %}1{% endif %}" 
				onchange="formChanged(value, {{ car.id }})"></td>
		<td><input type="hidden" value="{{ car.id }}" name="car_id"></td>
	</form>
	</tr>
	{% for signup in car.signups %}
		<tr class="dropdown">
		<td></td>
		<td> {{ signup.user.username }} </td>
<!-- TODO		<td>{{ signup.user.first_name }} {{ signup.user.last_name }}</td> -->
		<td>{{ signup.seats }}</td>
		</tr>
	{% endfor %}
{% endfor %}
</table>

{% endblock %}


