{% extends "base.html" %}
{% block content %}

<div class="page-header">
	<font size="6">Ride Share</font>
</div>


<p>
{% if isNotInACar %}
<a href="add_car"><button type="button" class="btn btn-default">Add Vehicle</button></a>
{% endif %}
<a href="{{menu.server}}/{{event.eventid}}"><button type="button" class="btn btn-default">Go Back</button></a></p>
<table class="table"> 

<tr class="table-header">

<td> <b> Driver </b> </td> 
<td> <b> Seats  </b></td>
<td> <b> Available Seats  </b></td>
<td> <b>  </b> </td>
</tr>
{% for car in cars %}
	<tr>
	
	<form action="{% url 'events:tools:rideshare:carDetails' eventid=event.eventid carid=car.carid %}" method="get">
	{% csrf_token %}
	<td>{{ car.driver.personid }}</td>
	<td>{{ car.seats }}</td><td>{{ car.open_seats }}</td>
	
	<input type="hidden" name="carid" id="carid" value="{{car.carid}}"/>
	<td><input type="submit" class="btn btn-default" value="View Details"/></td>
	</form>	
		</tr>
{% endfor %}
</table>

{% endblock %}


