{% extends "base.html" %}
{% block content %}

<div class="page-header">
	<font size="6">Ride Share</font>
</div>

<!--<script src="{{ STATIC_URL }}item_share/item_share.js"></script>-->
<p><a href="signup"><button type="button" class="btn btn-default">Sign Up</button></a>
<a href="add_car"><button type="button" class="btn btn-default">Add Vehicle</button></a>
<a href="{{menu.server}}/{{event.eventid}}"><button type="button" class="btn btn-default">Go Back</button></a></p>
<table class="table"> 

<tr class="table-header">

<td> <b> Driver </b> </td> 
<td> <b> Seats  </b></td>
<td> <b> Available Seats  </b></td>
<td> <b>  </b> </td>
</tr>
{% for car in cars %}
	<tr>
	
	
	<td>{{ car.driver.personid }}</td>
	<td>{{ car.seats }}</td><td>{{ car.open_seats }}</td>
	

	<td><a href="{{cur_path}}+'/{{car.carid}}/'"><button type="button" class="btn btn-default">View Details</button></a></td>
		
		</tr>
{% endfor %}
</table>

{% endblock %}


