
<div class="col-xs-8 col-md-4">
<div class="panel panel-default">

	<div class="panel-heading" style="background-color: #604576">
		<center><h3 class="panel-title" style="color: #FFFFFF">Ride Share</h3></center>

	</div>
<div class="panel-body">

{% if ride_share.cars.count == 0 %}
<p>No Cars Signed Up</p>
{% else %}
<table class="table"> 
<tr class="table-header">

<td> <b> Driver </b> </td> 
<td> <b> Available Seats  </b></td>
<td> <b> </b> </td>
</tr>

{% for car in ride_share.cars %}
	<tr>
	<td>{{ car.driver.personid }}</td>
	<td>{{ car.open_seats }}</td>
	</tr>
{% endfor %}
</table>
{% endif %}
<a href="tools/ride_share"><button type="button" class="btn btn-default">Sign Up</button></a>
</div>
</div>
</div>
