<div class="panel panel-default">

	<div class="panel-heading">
		<h3 class="panel-title">Ride Share</h3>

	</div>
<div class="panel-body">
<table class="table"> 
<tr class="table-header">

<td> <b> Driver </b> </td> 
<td> <b> Available Seats  </b></td>
<td> <b> </b> </td>
</tr>
{% if ride_share.cars.count == 0 %}
	<tr><td>No Cars Signed Up</td><td></td><td></td></tr>
{% endif %}
{% for car in ride_share.cars %}
	<tr>
	<td>{{ car.driver.personid }}</td>
	<td>{{ car.open_seats }}</td>
	</tr>
{% endfor %}
</table>

<a href="tools/ride_share"><button type="button" class="btn btn-default">Sign Up</button></a>
</div>

</div>
