{% extends "base.html" %}
{% block content %}

<div class="page-header">
	<font size="6">Ride Share Sign Up</font>
</div>
<div class="panel panel-default">
<div class="panel-body">

<form action="../executeSignup/" method="post">
{% csrf_token %}
<p><b>Name:</b> {{user}}</p>
{{personform.as_p}}
<p>*Only the driver of your selected vehicle will be able to see your address.</p>
<td><input type="submit" class="btn btn-success" value="Join Car" /></td>
	
	


<a href="../"><button type="button" class="btn btn-danger">Cancel</button></a>
</form>
</div>
</div>
{% endblock %}
