{% extends "base.html" %}
{% block content %}

<div class="page-header">
	<font size="6">Ride Share Sign Up</font>
</div>

<form action="" method="post">
{% csrf_token %}
{{person.personid.username}}
{% if cars.count == 0 %}
	There are no cars to join!
{% else %}
	<tr class="table-header">
	<td> </td>
	<td>  Driver  </td> 
	<td>  Passengers  </td>
	</tr>
	{% for car in cars %}
		<tr>
		<td></td>
		<td>{{ car.driver }}</td>
		{% for passenger in car.passengers.all %}
			<tr class="dropdown">
			<td></td>
			<td> {{ passenger.personid.username }} </td>
			</tr>
		{% endfor %}
		<td><input type="submit" class="btn btn-default" value="Join Car" /></td>

	{% endfor %}
	<!--<p><label for="car" id="carLabel" >Join Car:</label> 
	<select id="car" name="car">
	<option value="">--</option>	
		{% for car in cars %}
			{{car.driver}}
			<option value = "{{car.carid}}"> {{car.driver}}</option>
		{% endfor %}
	</select>-->
{% endif %}

</form>
<a href="../"><button type="button" class="btn btn-default">Go Back</button></a>

{% endblock %}
