{% extends "base.html" %}
{% block content %}

<div class="page-header">
	<font size="6">Ride Share Sign Up</font>
</div>

<form action="../executeSignup/" method="post">
{% csrf_token %}
<p><b>Name:</b> {{user}}</p>
{{personform.as_p}}
<p>Note: Only the driver of your selected vehicle will be able to see your address.</p>
<td><input type="submit" class="btn btn-default" value="Join Car" /></td>
	
	

</form>
<a href="../"><button type="button" class="btn btn-default">Go Back</button></a>

{% endblock %}
