<div class="col-xs-6 col-md-3">
<div class="panel panel-default">
	<div class="panel-heading">
		<center><h3 class="panel-title">Allergies</h3></center>
	</div>
	<div class="panel-body">
	<p><b>{{ allergy_list.vegetarian }}</b> vegetarians</p>
	<p><b>{{ allergy_list.vegan }}</b> vegans</p>
	<p><b>{{ allergy_list.lactose }}</b> lactose intolerant</p>
	<p><b>{{ allergy_list.gluten }}</b> gluten intolerant</p>
	<p><b>{{ allergy_list.nuts }}</b> allergic to nuts</p>

	<a href="tools/allergy_list"><button type="button" class="btn btn-default">See all allergies</button></a>
	</div>
</div>
</div>
