{% extends "base.html" %}

{% block content %}

<div class="page-header">
	<font size="6">Allergy and Food Accomodations List</font></div>

<div class="panel panel-default">
<div class="panel-body">
<a href="addAllergy"><button type="button" class="btn btn-default">Add allergies</button></a>
<a href="{{menu.server}}/{{event.eventid}}"><button type="button" class="btn btn-default">Go Back</button></a>

<div class="container-fluid">
	<div class="table-responsive">
	<table class="table">
	
	<thead><td><b>Name</b></td><td><b>Vegetarian</b></td><td><b>Vegan</b></td>
	<td><b>Lactose</b></td><td><b>Gluten</b></td><td><b>Nuts</b></td><td><b>Other</b></td></thead>
	
	<tbody>
		{% if list.count == 0 %}
		<tr><td>No Allergies Listed</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
		{% endif %}
		{% for person in list %}
		<tr>
		<td>{{ person.user.first_name }} {{ person.user.last_name }}</td>
		<td>{{ person.get_vegetarian_display }}</td>
		<td>{{ person.get_vegan_display }}</td>
		<td>{{ person.get_lactose_display }}</td>
		<td>{{ person.get_gluten_display }}</td>
		<td>{{ person.get_nuts_display }}</td>
		<td>{{ person.other }}</td>
		</tr>
		{% endfor %}

		

		<tr>
		<td><b>Total Allergies:</b></td>
		<td><b>{{ vegetarian }}</b> vegetarians</td>
		<td><b>{{ vegan }}</b> vegans</td>
		<td><b>{{ lactose }}</b> lactose</td>
		<td><b>{{ gluten }}</b> gluten</td>
		<td><b>{{ nuts }}</b> nuts</td>
		<td></td>
		</tr>
	</tbody>


</table></div></div>
</div>
</div>


{% endblock %}
