<div class="row">
<div class="col-xs-12 col-md-6">
<div class="panel panel-default">

	<div class="panel-heading" >
		<center><h3 class="panel-title" >Item Share</h3></center>

	</div>
<div class="panel-body">

{% if item_share.items.count == 0 %}
<p><center>No Items to Display </center></p>
{% else %}
<table class="table"> 
<tr class="table-header">

<td><b>  Item Name </b></td>
<td><b> Amount Needed  </b></td>
<td><b>  Amount Signed Up </b></td>
</tr>
<tbody>
{% for item in item_share.items %}
	<tr>
	
	<td>{{ item.item_name }}</td>
	<td>{{ item.amount_needed }}</td><td id="signup_{{ item.id }}">{{ item.signedup }}</td>
</tr>
	</tr>
	
{% endfor %}
</tbody>
</table>
{% endif %}

	<a href="tools/item_share"><button type="button" class="btn btn-default">View/Edit</button></a>
	</div>
	</a>
</div></div>
