{% extends "base.html" %}
{% block content %}
<script src="{{ STATIC_URL }}item_share/item_share.js"></script>
<p><button><a href="add_item">Add Item</a></button></p>
<table> 

<tr class="table-header">
<td> </td>
<td>  Item Name  </td>
<td>  Amount Needed  </td>
<td>  Amount Preferred  </td>
<td>  Total Signups  </td>
<td>  Number You'll Bring  </td>
</tr>
{% for item in items %}
	<tr>
	{% if item.signups.count > 0 %}<td class="plus">+{% else %}<td> {% endif %}</td>
	<td>{{ item.item_name }}</td>
	<td>{{ item.amount_needed }}</td><td>{{ item.amount_preferred }}</td><td id="signup_{{ item.id }}">{{ item.signedup }}</td>

	<form action = "{{ cur_path }}" method="post">
		<td><input type="number" name="amount" min=0 value="{% if not item.your_signup %}0{% else %}{{ item.your_signup.amount }}{% endif %}" 
				onchange="formChanged(value, {{ item.id }})"></td>
		<td><input type="hidden" value="{{ item.id }}" name="item_id"></td>
	</form>
	</tr>
	{% for signup in item.signups %}
		<tr class="dropdown">
		<td></td>
		<td> {{ signup.user.username }} </td>
<!-- TODO		<td>{{ signup.user.first_name }} {{ signup.user.last_name }}</td> -->
		<td>{{ signup.amount }}</td>
		</tr>
	{% endfor %}
{% endfor %}
</table>


{% endblock %}


