<div class="col-xs-6 col-md-4">
<div class="panel panel-default">
<div class="panel-heading" style="background-color: #604576">
			<center><h3 class="panel-title" style="color: #FFFFFF">Weather Forecast</h3></center>
	</div>
<div class="panel-body"><center>
<a href="http://www.showmyweather.com/" title="Show My Weather Forecast" onclick="window.open(this.href);return(false);"><script type="text/javascript" src="http://www.showmyweather.com/weather_widget.php?int=0&type=js&country=us&state={{ weather.state }}&city={{ weather.city }}&smallicon=0&current=1&forecast=1&background_color=ffffff&color=000000&width=200&padding=15&border_width=0&border_color=000000&font_size=13&font_family=Verdana&showicons=1&measure={{ weather.degreeType }}&d=2015-04-16"></script></a><div style="width:240px;text-align:center;font-size:0.6em;margin-top:0.5em;"></div></center>
</div>
</div>
</div>
</div><div class="row">

