{% extends "base.html" %}

{% block menubar %}
<head>
	<title>{{title}}</title>
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}bootstrap-3.3.2-dist/css/bootstrap.css">
</head>
<!--<br>
<p>Here we can not see the menubar since we are not logged in.</p>
<br> -->
<!-- Empty menu bar for prettiness reasons -->
<nav class="navbar navbar-default">
<div class="container-fluid">
<div class="navbar-header">
<div class="nav navbar-nav">
<!-- Empty on purpose. Could add a logo later. -->
{% load static %}
<img src="{% static 'logosmall.png' %}" alt="PLANtastic Logo">
</div>
</div>
</div>
</nav>
{% endblock %}

{% block content %}


<a href="{% url 'base:index' %}"><button type="button" class="btn btn-default">Go back to index page</button></a>
<br><br>
<form action="{% url 'base:register' %}" method= "POST">
{% csrf_token %}

{{ form.as_p }}
<br><br>
<input type="submit" value="Register now!" class="btn btn-default">
</form>


{% endblock %}
