{% extends "base.html" %}

{% block menubar %}
<head>
	<title>{{title}}</title>
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}bootstrap-3.3.2-dist/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}base_css.css">
</head>
<!--<br>
<p>Here we can not see the menubar since we are not logged in.</p>
<br> -->
<!-- Empty menu bar for prettiness reasons -->
<nav class="navbar navbar-default" style="padding:8px;">
<div class="container-fluid">
<div class="navbar-header">
<div class="nav navbar-nav">
<!-- Empty on purpose. Could add a logo later. -->
{% load static %}
<img src="{% static 'logo-med-lilac.png' %}" alt="PLANtastic Logo">
</div>
</div>
</div>
</nav>
{% endblock %}

{% block content %}


<div class="panel panel-default">
	<div class="panel-heading">
			<h3 class="panel-title">Register</h3>
	</div>
	<div class="panel-body">

<form action="{% url 'base:register' %}" method= "POST">
{% csrf_token %}

{{ form.as_p }}
<br><br>
<input type="submit" value="Register now!" class="btn btn-success">
</form>
<br>
<a href="{% url 'base:index' %}"><button type="button" class="btn btn-default">Go back to index page</button></a>


</div>


{% endblock %}
