{% extends "base.html" %}
{% block content %}

<div class="page-header">
	<font size="6">Edit Maps</font>
</div>
<div class="panel panel-default">
<div class="panel">

<form action="" method="post">
<p><b>Current Map Location: </b>{{gmap.location}}</p>
{% csrf_token %}
<p>{{mapform.as_p}}</p>
<input type="submit" class="btn btn-success" value="Submit" />
<a href="../../"><button type="button" class="btn btn-default">Cancel</button></a>
<a href="../../deleteMap/{{gmap.mapid}}"><button type="button" class="btn btn-danger">Delete this Map</button></a>

</form>
</div>
</div>
{% endblock %}
