@import url("bootstrapmin.css")
@import url("bootstrap-theme.css")

.container-fluid{
 background-color: #75A6AA
}


body{
 background-color:#75A6AA
}




.row{
  margin-top: 0px;
  margin-bottom: 0px
}


.panel.default{
 margin:0px;
}

.panel-default .panel-heading{
 background-color: #604576;
 color: #FFFFFF;
 border:0px;
}

.panel-title{
 background-color: #604576; 
 color: #FFFFFF;
}




