<div class="col-xs-12 col-md-6">
<div class="panel panel-default">
	<div class="panel-heading" style="background-color: #604576">
		<center><h3 class="panel-title" style="color: #FFFFFF">Next scheduled activity</h3></center>
	</div>
	<div class="panel-body">
	{% if schedule %}
	<p><b>Name:</b> {{ schedule.name }}</p>
	<p><b>Date and time:</b> {{ schedule.start_date }} {% if schedule.end_date %} -- {{ schedule.end_date }} {% endif %}</p>
	<p>{% if schedule.description %}<b>Description:</b> {{ schedule.description }} {% endif %}</p>
	{% else %}
		<p>This event does not have any scheduled activities yet.</p>
	{% endif%}

	<a href="tools/schedule"><button type="button" class="btn btn-default">See full schedule</button></a>
	</div>
</div>
</div>
</div><div class="row">
