{% extends 'base.html' %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL}}upload_pics.css">
<script src="{{ STATIC_URL }}upload_pics.js"></script>
<a href="upload_pic"><button type="button" class="btn btn-default">Upload Pictures</button></a>
<a href="../../"><button type="button" class="btn btn-default">Go back</button></a><br><br>
<form action="" method="post">
{% csrf_token %}
<select id="select" name="selected">
	<option value='None'></option>
{% for pic in pics %}
	<option value='{{ pic.file }}'>{{ pic.title }}</option>
{% endfor %}
</select>
	<button type="submit" class="btn btn-default" name="delete">Delete Picture</button>
	<button type="submit" class="btn btn-default" name="edit">Edit Image</button>
</form>
<table>
<tr>
{% for pic in pics %}
<td>
<div class="thumbnail">
	<img class="img-rounded uploaded-pic" src="{{ STATIC_URL }}{{ pic.file }}" id="{{ forloop.counter }}" onclick="select({{ forloop.counter }});" alt="{{ pic.title}}: {{ pic.caption}}"><br>
	<div class="caption">
		<h2>{{ pic.title }}</h2>
		<p>{{ pic.caption }}</p>
		<p>Uploaded By: {{ pic.uploader.username }}</p>
	</div>
</div>
<td>
{% if forloop.counter|divisibleby:"3" %}
</tr>
<tr>
{% endif %}
{% empty %}
<h2> No pictures have been uploaded yet.</h2>
{% endfor %}
</div>
{% endblock %}
