<div class="tool-tile">
<link rel="stylesheet" type="text/css">
<a href="tools/upload_pics">
<button type="button" class="btn btn-default">Upload Pictures</button>
</a>
<div id="upload_carousel" class="carousel slide pic-carousel" date-ride="carousel">

	<ol class="carousel-indicators">
		{% for pic in upload_pics.pics %}
		<li data-target="#upload_carousel" data-slide-to="{{ forloop.counter0 }}"
			{% if forloop.counter0 = 0 %}class="active"{% endif %}
			></li>
		{% endfor %}
	</ol>
	<div class="carousel-inner fill" role="listbox">
	{% for pic in upload_pics.pics %}
			<div class="item{% if forloop.counter0 = 0 %} active{% endif %}">
				<img class="image-responsive thumbnail"src="{{ STATIC_URL }}{{ pic.file }}">
			</div>
		{% empty %}
			<div class="item active fill">
				<center>No pictures uploaded yet.</center>
			</div>
	{% endfor %}
	</div>

	<a class="left carousel-control" href="#upload_carousel" role="button" data-slide="prev">
    	<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
	    <span class="sr-only">Previous</span>
	</a>
	<a class="right carousel-control" href="#upload_carousel" role="button" data-slide="next">
	    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
	    <span class="sr-only">Next</span>
	</a>
</div>

</div>

