@import url("bootstrapmin.css")
@import url("bootstrap-theme.css")


/* ---------------- Background color ---------------*/
.container-fluid{
 background-color: #75A6AA;
}

body {
 background-color: #75A6AA;
 color:#FFFFFF;
 }

/* 
 #75A6AA
 #E2FFF2
*/


/* ---------------- Page title ---------------*/
.page-header {
 color: white;
 border-bottom:2px solid #604576;
}

/* ---------------- Buttons default ---------------*/

.btn-default, .btn-default:hover {
 background-color: white;
 border-color: #604576;
 color: #604576;
}

.btn-danger, .btn-danger:hover {
 background-color: #901316;
 border-color: #901316;
 color: white;
}

/* ---------------- Links ---------------*/

a {
 color: #604576;
}

a:hover {
 color: #4A1675;
}



/* ---------------- Glyphicons ---------------*/

.badge {
 color: #604576; 
 background-color: white;
}


/* ---------------- Menubar ---------------*/

.dropdown-menu {
 background-color: #604576;
 color:white;
 border-color: #604576;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-menu > li > a {
 color:white;
 background-color: #604576;
}

/* navbar */
.navbar-default {
    background-color: #604576;
    border-color: white;
    border:0px;
    padding:5px;
}
/* title */
.navbar-default .navbar-brand {
    color: white;
    background-color: #604576;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: white;
    background-color: #604576;
}
/* link */
.navbar-default .navbar-nav > li > a {
    color: white;
    background-color: #604576;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: white;
    background-color: #604576;
}
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    color: white;
    background-color: #604576;
}
.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
    color: white;
    background-color: #604576;
}

/* ---------------- End of menubar ---------------*/


.panel-default{
 color: #000000
}

/* panel headings */
.panel-default .panel-heading{
 background-color: #604576;
 color: #FFFFFF;
 border:0px;
}

.panel-title{
 background-color: #604576; 
 color: #FFFFFF;
}

.panel-footer{
 background-color: #FFFFFF;
 border:0px;
}

/* text color */

