@import url("bootstrapmin.css")
@import url("bootstrap-theme.css")



.transpjumbo{
 padding: 30px;
 margin-bottom: 30px;
 font-size: 21px;
 font-weight: 200;
 line-height: 2.1428571435;
 color: inherit;
 background-color: rgba(255,255,255,0.50);
 
}

