{% extends 'base.html' %}
<div class="panel-default panel">
<div class="panel-body">
<div id="event-forum">
	<h3>Event Forum</h3>
	<table>
		<thead><tr><td>Thread Name</td><td>Posts</td><td>Last Post</td><td></td></thead>
		<tbody>
		{% for thread in forum.threads %}
		<tr>
				<td>{{thread.title}}</td>
				<td>{{ thread.num_posts}}</td>
				<td>{{ thread.last_post.created }}</td>
				<td><a href="{{thread.threadid}}"><button class="btn btn-default">View</button></a></td>
		</tr>
		{% endfor %}
		
		</tbody>
	</table>
	<a href="tools/forum/create-thread/"><button class="btn btn-default">Create Thread</button></a>	
</div>
</div>
</div>
