{% extends "base.html" %}

{% block content %}
<div class="panel-default panel">
<div class="panel-body">
<h3><b>{{thread.title}}</b></h3>
<h4>{{thread.body}}</h4>
<a href="../../../"><button type="button" class="btn btn-default">Go Back</button></a>
<br><br>
<div class="panel panel-default">
	<div class="panel-heading">
		<h4>Reply to Thread</h4>
	</div>
	<div class="panel-body">
	
		<form action="" method="post">
			{% csrf_token %}
			<input type="text" class="form-control" placeholder="Post title" id="ptitle" name="ptitle" />
			<input type="text" class="form-control" placeholder="Post message" id="pbody" name="pbody" />
			<input type="submit" class="btn btn-default" value="Post Reply" />
		</form>
	</div>
</div>

{% for post in posts %}
	<div class = "panel panel-default">
		<div class = "panel-heading">
			{{ post.post_description}}
		</div>
		<div class="panel-body">
			{{post.body}}
		</div>
	</div>
{% endfor %}

</div>
</div>
{% endblock %}
